<div class="background">
  <div class="endbox">
    <div class="center">
      <div class="big">
        That's it!
      </div>
      <div class="small">
        Thanks a lot to complete this user study. Your input is very much appreciated!
      </div>
      <div class="small">
        If you would like to check out the playlists you created with the other two participants, you can click <a href="{{getPlaylistUrl()}}">here</a>.
      </div>
      <div style="font-size: 20px; padding-top: 20px">💙</div>
    </div>
  </div>
</div>
