<div class="background">
  <div class="consentbox">
    <div class="center">
      <div class="big">
        Geïnformeerde toestemming / Informed consent
      </div>
      <div class="infobox">
        <div class="italic">
          Titel van het onderzoek / Title of the study:
        </div>
        <div class="small">
          Master’s thesis – Perception of Fairness in Group Music Recommender Systems
        </div>
        <div class="italic">
          Naam en contactgegevens onderzoekers / Researchers' name and contact info:
        </div>
        <div class="small">
          Promotor: Katrien Verbert – katrien.verbert@cs.kuleuven.be <br>
          Student: Elisa Lecluse – elisa.lecluse@student.kuleuven.be
        </div>
        <div class="italic">
          Doel en methodologie van het onderzoek / Goal and methodology of the study:
        </div>
        <div class="small">
          Het ontwikkelen en evalueren van een muziekaanbevelingssysteem voor groepen. <br>
          <div style="font-style: italic; font-weight: 300;">Developing and evaluating a group music recommender system.</div>
        </div>
        <div class="italic">
          Duur van het experiment / Experiment duration:
        </div>
        <div class="small">
          ± 40 min.
        </div>
      </div>
      <form class="example-form" #myForm ="ngForm">
        <div class="itemize">
          <ul style="list-style-type: square;">
            <li style="padding-top: 20px; font-weight: 300;">
              Ik begrijp dat mijn deelname aan deze studie vrijwillig is.
              Ik heb het recht om mijn deelname op elk moment stop te zetten.
              Daarvoor hoef ik geen reden te geven en ik weet dat daaruit geen nadeel voor mij kan ontstaan.
              <div style="font-style: italic; font-weight: 300;">
                I understand that participation in this study is voluntary.
                I have the right to end my participation at any given time.
                I do not need to provide any reason for this and know that it will not lead to any negative consequences for myself.
              </div>
            </li>
            <li style="font-weight: 300">
              Ik weet dat ik zal deelnemen aan volgende proeven of testen:
              <div style="font-style: italic; font-weight: 300;">
                I am aware that I will participate in the following tests or experiments:
              </div>
              <ul>
                <li style="font-weight: 300">
                  Ik zal gevraagd worden het ontwikkelde system te bekijken en/of gebruiken,
                  in vrije verkenning of met een specifieke opdracht, gerelateerd aan muziek afspeellijsten samenstellen in groep.
                  <div style="font-style: italic; font-weight: 300;">
                    I will be asked to view and/or use the developed system freely or given a specific task, related to creating group music playlists.
                  </div>
                </li>
                <li style="font-weight: 300">
                  Tijdens mijn interactie met het systeem kunnen logs van mijn interacties (zoals clicks) opgeslagen worden,
                  alsook info ivm tijdsduur voor bepaalde interacties of gebruikerstaken.
                  <div style="font-style: italic; font-weight: 300;">
                    During my interactions with the system, logs of my different interactions (such as clicks) will be saved, as well as various timings regarding certain interactions or user tasks.
                  </div>
                </li>
                <li style="font-weight: 300">
                  Ik kan gevraagd worden mijn gedachten en bedoelingen tijdens het bekijken of gebruiken van het systeem luidop te delen.
                  <div style="font-style: italic; font-weight: 300;">
                    I can be asked to share my thoughts and intentions while viewing or using the system aloud.
                  </div>
                </li>
                <li style="font-weight: 300">
                  Ik kan voor het gebruik van het systeem vragen gesteld worden in verband met demografische gegevens,
                  mijn persoonlijkheid en mijn gebruik van (muziek) webapplicaties.
                  Ik behoud de vrijheid om een vraag niet te beantwoorden en hoef daarvoor geen reden te geven.
                  <div style="font-style: italic; font-weight: 300;">
                    Before using the system, I can be asked questions about demographic data, my personality and my (music) web applications usage.
                    I retain the right not to answer a question without needing to provide a reason for this.
                  </div>
                </li>
                <li style="font-weight: 300">
                  Ik kan tijdens of na het gebruik van het systeem vragen gesteld worden in verband met het systeem en mijn ervaring ermee.
                  Ik behoud de vrijheid om een vraag niet te beantwoorden en hoef daarvoor geen reden te geven.
                  <div style="font-style: italic; font-weight: 300;">
                    I can be asked to answer questions during or after the use of the system regarding the system and my experience with the system.
                    I retain the right not to answer a question without needing to provide a reason for this.
                  </div>
                </li>
                <li style="font-weight: 300">
                  Ik kan achteraf gevraagd worden mijn ervaring met het systeem te evalueren aan de hand van een vragenlijst.
                  <div style="font-style: italic; font-weight: 300;">
                    I can be asked to evaluate my experience with the system afterwards through a questionnaire.
                  </div>
                </li>
              </ul>
            </li>
            <li style="font-weight: 300">
              Ik begrijp wat van mij verwacht wordt tijdens dit onderzoek.
              <div style="font-style: italic; font-weight: 300;">
                I know what is expected of me during this study.
              </div>
            </li>
            <li style="font-weight: 300">
              De resultaten van dit onderzoek kunnen gebruikt worden voor wetenschappelijke doeleinden en mogen gepubliceerd worden.
              Mijn naam wordt daarbij niet gepubliceerd, anonimiteit en de vertrouwelijkheid van de gegevens is in elk stadium van het onderzoek gewaarborgd.
              <div style="font-style: italic; font-weight: 300;">
                The results of this study can be used for scientific purposes and can be published.
                My name will not be included in the publication, anonymity and the privacy of the data is guaranteed in every stage of the study.
              </div>
            </li>
            <li style="font-weight: 300">
              Ik wil graag op de hoogte gehouden worden van de resultaten van dit onderzoek.
              De onderzoeker mag mij hiervoor contacteren op het volgende e-mailadres:
              <div style="font-style: italic; font-weight: 300;">
                I would like to be kept up-to-date on the results of this study.
                The researcher may contact me to this end at the following email address:
              </div>
              <mat-form-field style="padding-left: 20px">
                <mat-label>Email</mat-label>
                <input matInput name="email" [(ngModel)]="consentModel.email">
              </mat-form-field>
            </li>
            <li style="font-weight: 300">
              Voor vragen weet ik dat ik na mijn deelname terecht kan bij:
              <div style="font-style: italic; font-weight: 300;">
                For questions after my participation I know I can contact:
              </div>
              <div style="font-style: italic; font-weight: 400; padding-left: 20px;">
                Elisa Lecluse – elisa.lecluse@student.kuleuven.be
              </div>
            </li>
            <li style="font-weight: 300">
              Voor eventuele klachten of andere bezorgdheden omtrent ethische aspecten van deze studie
              kan ik contact opnemen met de Sociaal-Maatschappelijke Ethische Commissie van KU Leuven:
              <div style="font-style: italic; font-weight: 300;">
                For any complaints or other concerns regarding the ethical aspects of this
                study I can contact the Social and Societal Ethics Committee of KU Leuven:
              </div>
              <div style="font-style: italic; font-weight: 400; padding-left: 20px;">
                smec@kuleuven.be
              </div>
            </li>
          </ul>
        </div>
        <div style="padding: 10px 40px">
          <mat-form-field>
            <mat-label>First name</mat-label>
            <input matInput name="firstname" [(ngModel)]="consentModel.firstname" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Last name</mat-label>
            <input matInput name="lastname" [(ngModel)]="consentModel.lastname" required>
          </mat-form-field>
        </div>
        <div style="padding: 20px">
          <mat-checkbox (change)="onChange($event)">
            <div style="text-align: left; padding: 20px">
              Ik heb bovenstaande informatie gelezen en begrepen en heb antwoord gekregen op al mijn vragen betreffende deze studie.
              <br> Ik stem toe om deel te nemen.
              <div class="italic">
                I have read and comprehended the preceding information and had all of my questions regarding this study answered.
                <br> I agree to participate.
              </div>
            </div>
          </mat-checkbox>
        </div>
        <button mat-raised-button
                style="color: #6c757d; border: 1px solid rgba(0, 64, 153, 0.5); margin: 20px; width: 30%;"
                [disabled]="!myForm.form.valid || !isChecked()"
                (click)="onClickSave()">
          Next
        </button>
      </form>
    </div>
  </div>
</div>
