<div class="background">
  <div class="consentbox">
    <div class="center">
      <div class="big">
        Study objective
      </div>
      <div class="infobox">
        <div class="italic">
          In this study we are researching how different personalities have an impact on <br>
          the perception of fairness in group music recommender systems.
        </div>
      </div>
      <div class="big" style="text-align: left; padding-bottom: 5px">
        What is involved?
      </div>
      <div class="small">
        If you agree to participate in this study, you will be assigned to a group with two other participants.
        When your group name is asked, it is important to fill in the code that was provided to you beforehand (keep in mind that it is case-sensitive).
        Together, you will be asked to create two playlists to listen to in differing scenarios
        using a group recommender system designed for this research. Both playlists will be made available at the end of the study.
      </div>
      <div class="big" style="text-align: left; padding-bottom: 5px">
        Study procedure
      </div>
      <div class="small">
        First, you will individually be asked to complete a set of demographic questionnaires,
        one based on the Big Five Inventory to determine your personality.
        Second, an interactive tutorial will teach you how to use the system.
        After that, you will be asked to create the group playlists using the application.
        When finished, you will receive the last set of questionnaires to evaluate the system.<br>
        <div style="padding-top: 5px; font-weight: 300">
          The study will approximately take 40 minutes.
        </div>
      </div>
        <button mat-raised-button
                style="border: 1px solid rgba(0, 64, 153, 0.5); height: 30px; width: 30%; margin-top: 25px">
          <div (click)="onClickNext()" style="vertical-align: center">Next</div>
        </button>
    </div>
  </div>
</div>
