extends layout.pug
    
block content
    form(action='/backfromplaylist', method='POST')
        .back_button
            button(type='submit', id="backfromplaylist",style="font-size:3vh;padding:2vh;text-align:center") Back to all playlists
    h1 Playlist #{name}

    table 
      each t in tracks
        tr 
          - var artist_name = t.track.artists[0].name
          - var track_name = t.track.name
          - var track_preview = t.track.preview_url

          td #{artist_name}
          td #{track_name}
          if (track_preview != (undefined || null))
            td: a(href=track_preview) Preview
