html
  head
    link(rel='stylesheet' href='/stylesheet/style.css')
    //- link(rel='stylesheet' href='https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css')

  body
    header_user1ready Waiting for your friend to complete...
    p_user1ready Once your friend has selected their favorite playlists, you can click on the button below to see the final playlist!
    form(action='/user1readyclick' method='POST')
      button.user1ready_button(style='display:block; margin-left:auto; margin-right: auto; width:18%;' type="submit", id="user1readyclick") Click here when your friend is ready
    img(src='/images/waiting.png' alt='flyer_img' style='display: block; margin-left:auto; margin-right: auto; width:30%;')

