<div class="box">
  <div class="container">
    <div class="row">
      <div class="col" style="font-weight: 600; padding: 0">
        Recommendations based on the songs selected by the group:
      </div>
      <div *ngIf="showCount()" class="col-auto float-right" style="padding: 0">
        <div class="circle">
          {{getCount()}}
        </div>
      </div>
      <button class="astext" (click)="refreshGroupRec()">
        <div class="col-auto float-right" style="padding: 0" title="refresh recommendations">
          <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18" style="fill:black"><path d="M12 6v3l4-4-4-4v3c-4.42 0-8 3.58-8 8 0 1.57.46 3.03 1.24 4.26L6.7 14.8c-.45-.83-.7-1.79-.7-2.8 0-3.31 2.69-6 6-6zm6.76 1.74L17.3 9.2c.44.84.7 1.79.7 2.8 0 3.31-2.69 6-6 6v-3l-4 4 4 4v-3c4.42 0 8-3.58 8-8 0-1.57-.46-3.03-1.24-4.26z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
        </div>
      </button>
    </div>
  </div>
</div>

<app-recommendations [parent]="parent"></app-recommendations>
