<div style="text-align: center">
  <div style="font-weight: 700; font-size: 18px" mat-dialog-title>Welcome!</div>
  <div mat-dialog-content>
    Please follow the instructions step by step to get more familiar with the system. <br>
    During this tutorial your interactions with the system will not be logged. <br>
  </div>
  <button mat-button mat-dialog-close style="height: 30px; margin-top: 20px; border: 1px solid rgba(0, 64, 153, 0.5)">
    <div style="vertical-align: center">
      Ok
    </div>
  </button>
</div>
